// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-style: Open Sans;
}

.letters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letters li {
  list-style: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.new_letter {
  width: 40px;
  height: 40px;
  background-color: #4dabf7; 
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;    
  box-shadow: 2px 4px 2px #ccc;                                             
}

.form-control {
  width: 75%;
}